{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">Find Your Medicines</h2>

<!-- A–Z BAR -->
<!-- A–Z BAR -->
<div class="az-wrapper mb-4">
  <a href="#all" class="az-pill az-active">All</a>

  {% for letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
    <a href="#letter-{{ letter }}" class="az-pill">
      {{ letter }}
    </a>
  {% endfor %}
</div>



<!-- A–Z LIST -->
 
<div id="all"></div>
<div class="row">
  {% for letter, categories in grouped_categories.items %}
    <div class="col-md-3 mb-4" id="letter-{{ letter }}">
      <h5 class="fw-bold">{{ letter }}</h5>

      <ul class="list-unstyled">
        {% for category in categories %}
          <li>
            <a href="{% url 'acne_medicines' %}?category={{ category.name }}"
               class="text-decoration-none text-dark">
              {{ category.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>

{% endblock %}