<!DOCTYPE html>
<html>
<head>
    <title>Sign In</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-4">

      <div class="card shadow">
        <div class="card-body">

          <h4 class="text-center mb-3">Sign In</h4>

          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}
          {% endif %}

          <form method="POST">
            {% csrf_token %}

            <!-- ROLE -->
            <div class="mb-3">
              <label class="form-label">Login As</label>
              <select name="role" class="form-select" required>
                <option value="">Select role</option>
                <option value="user">User</option>
                <option value="admin">Admin</option>
              </select>
            </div>

            <!-- USERNAME -->
            <div class="mb-3">
              <label class="form-label">Username</label>
              <input type="text" name="username" class="form-control" required>
            </div>

            <!-- PASSWORD -->
            <div class="mb-3">
              <label class="form-label">Password</label>
              <input type="password" name="password" class="form-control" required>
            </div>

            <button class="btn btn-success w-100">Sign In</button>
          </form>

        </div>
      </div>

    </div>
  </div>
</div>

</body>
</html>
